.nav {
    background-color: rgba(170, 213, 245, 0.5);
}

.head {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.head h1 {
    font-family: 'Tiny5', sans-serif;
    font-size: 2.1em;
    background-color: #aad5f5;
    padding: 0.4em 0.8em 0.4em 0.8em;
    border: 10px solid;
    border-color: rgba(170, 213, 245, 0.4);
    background-clip: padding-box;
}

.contact-body {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.email {
    background-color: #aad5f5;
    padding: 1%;
    margin-right: 1em;
    text-align: center;
    border: 10px solid;
    border-color: rgba(170, 213, 245, 0.4);
    background-clip: padding-box;
}

.linkedin {
    background-color: #aad5f5;
    padding: 1%;
    margin-left: 1em;
    text-align: center;
    border: 10px solid;
    border-color: rgba(170, 213, 245, 0.4);
    background-clip: padding-box;
}

html {
  visibility: visible;
  opacity: 1;
}